.heroSection{
    height:80vh;
    min-height:800px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    padding:0 clamp(50px, 15vw, 600px);
}
.heroSection > * {
    width:clamp(300px,50%, 800px);
}
.heroSection h2 {
    font-weight: 300;
    font-size:clamp(1.5rem,2vw,3rem);
}
.heroSection h1 {
    font-size: clamp(2rem, 4vw, 4rem);
}
.heroSection a {
    width:fit-content;
    font-weight: 500;
    margin-top:2rem;
    font-size: clamp(1rem, 1vw, 2rem);
}
.heroSection a span {
    margin-left:-.3rem;
}


.howItWorks{
    height:600px;
    background-color:var(--green);
}